<% @quotation_registries.tap do |quotation_registries| %>
<!DOCTYPE html>
<html>
<head>
    <title>PDF</title>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
</style>
</head>
<body>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-9 col-lg-10"></div>
    <div class="col-sm-3 col-lg-1">
        <!--<img class="img-responsive" src="assets/images/logo.jpg">-->
    </div>
    <div class="col-sm-1"></div>
</div>

<h2 align="rigth">Cotización No. <%= quotation_registries.idquotationregistry %></h2>
<h3>Bogotá, <%= quotation_registries.date %><br><br>
Señor(a) <%= quotation_registries.nameclient %><br>
<b><%= quotation_registries.business %></b><br>

</h3>
<br>
<h4>En atención a su solicitud, nos permitimos realizar la siguiente cotización:</h4>
<br>
<div class="row">
<table class="table">
    <thead >
        <tr>
            <th class="col-sm-10">Producto</th>
            <th  class="col-sm-2">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="justify"><%= quotation_registries.product %></td>
            <center><td>$<%= quotation_registries.value %></td></center>
        </tr>
    </tbody>
</table>
</div>
<div class="row">
    <h3>VIGENCIA DE LA COTIZACIÓN: <%= quotation_registries.validity %> días</h3>
</div>
<h4>El pago se realiza de la siguiente manera.</h4>
<div class="row">
<table class="table">
    <thead >
        <tr>
            <th class="col-sm-2">PORCENTAJE</th>
            <th class="col-sm-10">FECHA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>30%</td>
            <td>INICIO DE PROYECTO</td>
        </tr>
        <tr>
            <td>30%</td>
            <td>MITAD DE PROYECTO</td>
        </tr>
        <tr>
            <td>40%</td>
            <td>PROYECTO CULMINADO</td>
        </tr>
    </tbody>
</table>
</div>
<div class="row">
    <h4>En espera que nuestra cotización sea de su total satisfacción y poder atender sus pedidos.</h4>
</div>
<div class="row">
    
</div>
<div class="row">
</div>
<footer class="footer">
    <center>Dirección: Calle 127 # 15 - 16 Oficina 910</center>
    <center>Teléfono: (+57) 312 123 45 68</center>
    <center>E-Mail: kaherreras@unal.edu.co</center>
</footer>
</div>
</body>
</html>
<%end%>