<p id="notice"><%= notice %></p>

<p>
  <strong>Name project:</strong>
  <%= @detail_invoice.name_project %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @detail_invoice.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @detail_invoice.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @detail_invoice.value %>
</p>

<%= link_to 'Edit', edit_detail_invoice_path(@detail_invoice) %> |
<%= link_to 'Back', detail_invoices_path %>
