<% content_for :subtitulo do %>
  Proyectos Actuales
<% end %>

<br>
<br>
<table class="table table-striped">
  <thead>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Fecha Inicio</th>
    <th>Fecha Fin</th>
    <th>Nombre Cliente</th>
    <th>Estado</th>
    <th>Precio</th>
    <th>Progreso</th>
    <th>Opciones</th>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td> <%= project.name %> </td>
        <td> <%= project.description %> </td>
        <td> <%= project.start_date %> </td>
        <td> <%= project.end_date %> </td>
        <td> <%= Client.find(project.client_id).name %> </td>
        <td> <%= StateProject.find(project.state_project_id).name%></td>
        <td> <%= number_to_currency(project.price) %></td>
        <td> <%= project.progress %></td>
        <td>
          <% valuePath = projects_path + '/'+ project.id.to_s + ".pdf" %>
          <%= link_to  valuePath,target:"_blank", class: "btn btn-warning" do%>
            <i class="glyphicons glyphicons-new-window-alt"></i>PDF
          <% end %>
        </td>
        <td>
          <%= link_to project_path(project), class: "btn btn-primary" do %>
            <i class="glyphicons glyphicons-send"></i> Enviar
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @projects %>
