<%= form_with(model: factura, local: true) do |form| %>
  <% if factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :factura_id %>
  </div>

  <div class="field">
    <%= form.label :name_client %>
    <%= form.text_field :name_client, id: :factura_name_client %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :factura_fecha %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :factura_descripcion %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :factura_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
