<%= form_with(model: entity, local: true) do |form| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
      <% entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :entity_user %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :entity_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :entity_password %>
  </div>

  <div class="field">
    <%= form.label :identifier %>
    <%= form.number_field :identifier, id: :entity_identifier %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :entity_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :entity_address %>
  </div>

  <div class="field">
    <%= form.label :has_one %>
    <%= form.text_field :has_one, id: :entity_has_one %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :entity_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
