<%= form_with(model: freelance, local: true) do |form| %>
  <% if freelance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freelance.errors.count, "error") %> prohibited this freelance from being saved:</h2>

      <ul>
      <% freelance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :freelance_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :freelance_email %>
  </div>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount, id: :freelance_total_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
