<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :billNumber %>
    <%= form.number_field :billNumber, id: :job_billNumber %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :job_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :job_price %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :job_duration %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.check_box :state, id: :job_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
