<p id="notice"><%= notice %></p>

<p>
  <strong>Billnumber:</strong>
  <%= @job.billNumber %>
</p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @job.duration %>
</p>

<p>
  <strong>State:</strong>
  <%= @job.state %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
