<p id="notice"><%= notice %></p>

<h1>Kind Entities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Permits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kind_entities.each do |kind_entity| %>
      <tr>
        <td><%= kind_entity.name %></td>
        <td><%= kind_entity.permits %></td>
        <td><%= link_to 'Show', kind_entity %></td>
        <td><%= link_to 'Edit', edit_kind_entity_path(kind_entity) %></td>
        <td><%= link_to 'Destroy', kind_entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kind Entity', new_kind_entity_path %>
