<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kind_entity.name %>
</p>

<p>
  <strong>Permits:</strong>
  <%= @kind_entity.permits %>
</p>

<%= link_to 'Edit', edit_kind_entity_path(@kind_entity) %> |
<%= link_to 'Back', kind_entities_path %>
