<% content_for :subtitulo do %>
  Ingreso: <%= @income.price %>
<% end %>

Fecha de Creado: <%= @income.created_at %>
<hr>

<table class="table table-bordered">
  <thead>
    <th>Descripcion</th>
    <th>Nombre Proyecto</th>
    <th>Precio</th>
  </thead>
  <tbody>

      <tr>
        <td><%= @income.description %></td>
        <td> <%= @project.name %> </td>
        <td> <%= @income.price  %> </td>
      </tr>

  </tbody>

</table>

</div>

