<p id="notice"><%= notice %></p>

<p>
  <strong>Quotationnumber:</strong>
  <%= @quotation.quotationNumber %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quotation.price %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @quotation.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quotation.description %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
