<p id="notice"><%= notice %></p>

<p>
  <strong>State code:</strong>
  <%= @job_log.state_code %>
</p>

<p>
  <strong>Message:</strong>
  <%= @job_log.message %>
</p>

<%= link_to 'Edit', edit_job_log_path(@job_log) %> |
<%= link_to 'Back', job_logs_path %>
